*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(white 300px, lightgray 500px);
	background-color: lightgray;
}
.container {
	margin: 0 auto;
	width: 1170px;

	background-color: white;
}	
a {
	text-decoration: none;
	
}
ul {	
	margin-top: 25px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}
/*Заголовок*/
.header {
	height: 300px;
	background-image: url("../img/fon.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 60%;
}
.logotipe {
	margin-top: 25px;
	float: left;	
	margin-left: 25px;	
 }
.title{
	float: right;
	width: 80%;
	height: 294px;
	}
.header h1,h2 {
	margin-top: 5% ;
	text-align: center;
	font-size: 30px;
	font-family: "Gotham Pro";
	font-style: normal;
	
}
.header h1 {
	text-transform: uppercase;
}
hr{
	width: 100%;
	height: 6px;
	
 	background-color: rgb(251, 7, 18);
}
.content hr{
	margin: 10px 0;
}

.logon li {
	list-style: none;
}
.logon li img{
	height: 100px;
}
.social{
	flex-basis: 10%;
	flex-shrink: 0;
}

button {
	border-style: solid;
	border-radius: 35px;
	width: 300px;
	height: 70px;
	text-align: center;
	font-family: "Gotham pro";
	font: lighter;
	font-size: 30px;
	cursor: pointer;
	color: #fb0712;
	background-color: rgb(255, 255, 255);
}
.vstbtn{
	flex-basis: 40%;
	text-align: center;
	flex-wrap: wrap;
}
/*Конец заголовка*/

/*навигационная строка*/
.menu ul {
	padding: 0 1%;
 	background-color: #333;
 	border-radius: 40px;
	 justify-content:space-around;
}

.menu a {
 color: white;
 font-family: "Gotham Pro";
 font-size: 25px;
}
.menu li{
	
	padding: 1% 10px;
}
.menu .check{
	background-color: #d80b0b;

}
/*Конец навигационной строки*/
/*.fotorama {
	display: block;
	left: center;
	position: relative;
	margin-top: 160px;
}*/
/*.line {
 margin: 0;
}*/
.content {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
}
.content-text {
	margin-left: 15px;
	margin-right: 15px;
}
.content h1 {
	margin: 25px;
	display: block;
	font-size: 30px;
	font-family: Gotham Pro;
	font-weight: bold; 
	text-transform: uppercase;
	text-align: center;
	color: #4a4a4a;

}
.content h1 a:visited, .content h1 a:active{color: #423b3b;}

.kprfcent{
	float: left;
	padding-top: 40px;
}
.vladkp{
	float: right;
	padding-top: 5px;
}
h1.bloch {
	margin: 20px 0 50px ;
	height: 120px;
	width: 49%;
	border: #4a4a4a solid 3px;
	border-radius: 70px;
}


.content h2 {
	margin-top: 20px;
	font-size: 25px;
	font-family: "Gotham Pro";
	/*font: Light;*/
	color: #d80b0b;
}
.leftimg {
	float: left;
	margin: 5px 5px 5px 3px;
}
.content p {
	margin-top: 10px;
 font-size: 20px;
}
.leftimg {
	float: left;
	margin: 5px 5px 5px 3px;
}

address {
	text-align: right;
}

.kanal img {
/*	float: left;*/
margin-top: 20px;
border-radius: 70px;
}
.nadezda img {
/*	float: right;*/
/*	margin-right: 15px;*/
	border-radius: 75px;
	top: 20px;
}
.nadezda {
	float: right;
}
.kanal p {
	margin-top: 15px;
	font-size: 30px;
	font-family: Gotham Pro;
	font-weight: bold; 
	text-transform: uppercase;
	text-align: center;
	color: #4a4a4a;
}
.footer {
	background-color: #4a4a4a;
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 30px;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:flex-start;
	margin: 32px 20px;
	border: none;
 	font-family: Gotham Pro, Regular;
 	font-size: 13px;
	 flex:0 0 27%;

	/* margin: 0 25px 0 15px;*/
}	
.footer-nav h5 {
 color: #ffffff;
 font-size: 35px;
 border-bottom: thin solid #e1e1e1;
 display: block;
 font-weight: bold;
}
.footer ul{
 border: none;

 padding: 0;
 display: block;
 list-style-type: disc;
 /*font-family: Gotam Pro;*/
 font-weight: bold;
 font-size: 20px;
/* direction: ltr;*/
}
.footer li {
 list-style: none;
 border: none;
/* margin: 0 25px 0 15px;*/
 padding: 0;
 display: list-item;
 text-align: -webkit-;
 font-family: Gotam Pro;
 font-weight: bold;
 font-size: 20px;
/* direction: ltr;*/
}
.footer-nav ul li a {
/*	text-decoration: underline;*/
	list-style: none;
	color: #ffffff;
}

.btn {
	align-self: center; 
	text-align: center;
	flex-grow: 1;

}
.post{
	width: 100%;
}
.post p {
	
	text-align: right;
	color: #F7F7F7;
	font-size: 15px;
	margin-right: 30px;
}

iframe {
	margin-top: 50px;
}	
.adress {
	margin: 450px  5px;
	float: left;
	border: 10px;
	font-family: Gotham Pro;
	font-weight: bold;
	font-size: 25px;

}
.pochta li a  {
height: 400px;
}
.page-content {
	
	margin: 16px 16px 20px 16px;
	width: 1100px;
	border-spacing: 0;
	/*text-align: center;*/
	font-family: Gotham Pro;
	font-weight: lighter; 	 
}
h1.title  {
	color: #d80b0b;
	font-size: 30px;
 font-family: Gotham Pro;
 font-weight: bold;
 /*line-height: 21px;*/
 margin-bottom: 10px;
}

.content-text {

 font-size: 20px;
}


.content-text p {
	font-family: Gotham Pro;
	font-weight: normal;
	line-height: 30px;
	color: #010101;
	margin-bottom: 25px;
	text-align: justify;
}
p.priziv {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
p.date {
	margin: 25px 0 25px 0;
}
.news-text img {
	margin: 20px 20px 20px 75px;
}
.news-item hr{
margin: 20px 0;
}
.news-item, .news-item h2 {
text-align: left;
}
.news-item .datens{
	font-style: italic;
	color: #333;
	font-size: 16px;
	}
.news-item{
	padding: 5px 15px;
	border-top: #d80b0b solid 5px;
	border-bottom: #d80b0b solid 5px;
	border-radius: 15px;
	margin-bottom: 15px;
}


img.blago {
	margin-left: 350px;
	transition:width 0.5s ease;
}


.mmo{
	/*font-size: 30px;*/
	text-align: center;
}
h2.poryd{
color: #000;
margin: 15px 0 15px;
text-transform: uppercase;
}
h3.poryd{
text-align: center;
margin: 10px 0;
}
.mmo p{
	font-size: 30px;
}
.mmo h3{
	font-size: 30px;
}

.people {
	float: left;
	margin-left: 10px;

	font-family: Gotham Pro;
	font-size: 20px;
	color: #010101;
	line-height: 35px;
	padding-bottom:20px; /*отступ снизу*/
width: 100%; /*указываем общую ширину блока с колонками*/
text-align:justify; /*выравнивание текста внутри колонок*/
column-count: 2; /*количество колонок, на которое хотим разбить текст*/
-moz-column-count: 2; /*для мозилы*/
-webkit-column-count: 2; /*для webkit браузеров*/
column-gap: 0px; /*отступ между колонками*/
-moz-column-gap: 0px;
-webkit-column-gap: 200px;
 column-rule: 1px solid #000;/*если требуется по дизайну, разделяем колонки линией*/
-moz-column-rule: 1px solid #000;
-webkit-column-rule: 1px solid #000;
}
/* .peopletwo p {
 text-align: center;
	margin-top: 130px;
	font-family: Gotham Pro;
	font-size: 20px;
	color: #010101;
	line-height: 35px;
} */

.otdeli {
	margin: 5px 15px 30px;
}
.otdeli p {
	margin-top: 15px;
	text-align: left;
	font-family: Gotham Pro;
	font-size: 22px;
	text-transform: uppercase;
}

/*.nardep, .raion {
	margin-left: 15px;
	margin-right: 15px;
}

.nardep p {
	margin-top: 10px;
	font-family: Gotham Pro;
	font-size: 25px;
}*/
.item_dep{
	padding: 10px;
	border-top: #4a4a4a solid 3px;
	border-bottom: #4a4a4a solid 3px;
	border-radius: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}
.item_dep div{
	margin-left: 170px;
}
.item_dep img{
	width: 150px;
	display: block;
	object-fit: cover;
}
.details  {
	display: block;
	float: left;
 display: none;
 text-align: left;
 margin-top: 10px;
float: left;
margin: 5px 0;
padding: 5px;
border: 1px solid #CDC9C9;
font-size: 13px;
background-color: #F7F7F7;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

h4 {
	font-family: Gotham Pro;
	font-weight: bold;
	color: #d80b0b;
	font-size: 25px;
}

.raion p {
	margin-top: 10px;
text-align: left;
font-family: Gotham Pro;
font-size: 20px;}


.vstupit {
	margin-left: 15px;
	margin-right: 15px;
}
.vstupit span strong  {
	display: block;
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
	font-family: Gotham Pro;
	font-size: 35px;
}
.vstupit p  {
	text-indent: 30px;
	font-family: Gotham Pro;
	margin-top: 15px;
	font-size: 20px;
	line-height: 30px;
}
p.why, p.what {
		display: block;
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
	font-family: Gotham Pro;
	font-weight: bold;
	font-size: 35px;
}
.appeal {
	margin-left: 15px;
	margin-right: 15px;
}
.appeal span strong {
		display: block;
	text-align: left;
	margin-top: 50px;
	text-transform: uppercase;
	font-family: Gotham Pro;
	font-size: 25px;
}

/*панелька*/
.breadcrumb{
	background-color: #4a4a4a;
	color: white;
	margin:20px 0;
	padding: 3px 30px;
}
.breadcrumb a:visited, .breadcrumb a:active{color: #ffffff;}
/*конец панельки*/
.pervaia {
	margin-top: 30px
}

.ustav{
		font-family: Gotham Pro;
margin-top: 30px;
text-align: right;
margin-right: 20px;
}

.osnova {
	margin: 25px 15px 0;
	font-family: Gotham Pro;
	font-weight: normal;
	line-height: 27px;
	font-size: 18px;
	text-align: justify;
}

.programma {
	font-family: Gotham Pro;
 margin-left: 15px;
	margin-right: 15px;
	margin-top: 35px;
	text-align: justify;
}

.text img {
	margin-top: 0;
	float: right;
	margin-left: 10px;
}
.text p {
	font-weight: normal;
	line-height: 27px;
	font-size: 18px;
}
.punkt {
	margin-top: 60px;
}
p.punkt {
	text-align: center;
}
a.zayava {
	/*display: inline-block;*/
	margin-top: 15px;
	margin-left: 15px;
	text-transform: uppercase;
	font-family: Gotham Pro;
	color: red;
}
a.anketa {
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
		text-transform: uppercase;
	font-family: Gotham Pro;
	color: red;
}










